<div class="wrap_component">
    <div class="panel widget ">
        <div class="panel-heading vd_bg-blue">
            <h3 class="panel-title"> <span class="menu-icon">
            <fa-icon [icon]="faPuzzlePiece"></fa-icon>
            </span> {{title}}</h3>
        </div>
        <div class="panel-body-list pd-15">
            <div class="input-group mgbt-xs-15">
                <div class="panel widget light-widget">
                    <div class="row">
                        <div class="col-xl-12">
                            <h3 style="font-weight: 600;">You can add some item</h3>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Name Car</label>
                            <div class="controls">
                                <input type="text" placeholder="name of car" [(ngModel)]="itemName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Age Car</label>
                            <div class="controls">
                                <input type="number" placeholder="age" [(ngModel)]="itemAge">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <p class="vd_red">{{errorInput}}</p>
                            <button style="margin-top:5px;" class="btn vd_btn vd_bg-green" (click)="addItemCar()">Add Item Car</button>
                            <hr>
                        </div>
                        <div class="col-xl-12">
                            <strong style="margin-right: 10px; vertical-align:super;" class="control-label">Filter the list</strong>
                            <label style="vertical-align:super" for="checkCriteria">Sorted by</label>
                            <div class="bootstrap-switch bootstrap-switch-blue bootstrap-switch-small bootstrap-switch-criteria">
                                <div class="bootstrap-switch-container switcher">
                                    <span class="switch-on switch-default">age</span>
                                    <label [ngClass]="{'push-left':pushing}" class="bootstrap-switch-label switch-default" for="check-name">&nbsp;</label>
                                    <span class="switch-off switch-default">name</span>
                                    <input id="check-name" class="mgr-10" type="checkbox" data-rel="switch" data-size="small" data-wrapper-class="blue" style="display:none" (change)="logCh($event.target.checked)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="controls col-lg-6">
                                    <input type="text" placeholder="Input name or age of car" [(ngModel)]="findLetter">
                                    <br>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-12">
                            <ul style="padding-left: 0;">
                                <li class="mgbt-xs-10" *ngFor="let item of listCar |dynamicPipe:findLetter:searchCriteria; let ind = index ">
                                    <strong>{{ind + 1}}) {{item.name}} ---- {{item.age}}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------- -->
    <div class="panel widget">
        <div class="panel-heading vd_bg-blue">
          <h3 class="panel-title">
            <span class="menu-icon"> <fa-icon [icon]="faBars"></fa-icon> </span>
            {{ titlePipe }}
          </h3>
        </div>
        <div class="panel-body-list pd-15">
          <div class="input-group mgbt-xs-15">
            <div class="panel widget light-widget">
              <input type="text" [(ngModel)]="data" />
              <strong>number of degree 3 --{{ data | appPow: 3:"," }}</strong>
              <br />
              <strong>number of degree 10-- {{ data | appPow: 10:"." }}</strong>
            </div>
          </div>
        </div>
      </div>
</div>