<div class="panel widget ">
    <div class="panel-heading vd_bg-blue">
        <h3 class="panel-title"> <span class="menu-icon"> <i class="icon-graph"></i> </span> {{title}}</h3>

    </div>
    <div class="panel-body-list pd-15">
        <div class="input-group mgbt-xs-15">

            <div class="panel widget light-widget">
                <div class="panel-body" style="padding-bottom:0; padding-top:0">
                    <h3>Add item</h3>
                    <ul style="padding-inline-start:0">
                        <li class="mgbt-xs-10" *ngFor="let item of arrStr; let ind = index ">
                            <strong>{{ind + 1}}. {{item}}</strong>
                        </li>
                    </ul>
                </div>
                <input type="text" [(ngModel)]="itemInput" name="someName">
                <p class="vd_red">{{textEmpty}}</p>
                <div class="input-group-btn mgtp-15 mgbt-xs-0">
                    <button class="btn vd_btn vd_bg-green" role="button" (click)="addItem()">Add item</button>
                </div>
                <!-- /btn-group -->
            </div>
        </div>
    </div>
</div>