<div class="wrap_component">
    <h1>{{title}}</h1>
    <h2>Test Service</h2>
    <p>
        Display text using the 'TestService'
    </p>
    <button (click)="changeText()">{{serviceVisible}}</button>
    <br>
    <div class="alert alert-primary" role="alert" *ngIf="serviceVisible">This Item is Visible</div>
    <div class="alert alert-success" role="alert" *ngIf="!serviceVisible">Nothing to show</div>
    <h3 class="text-primary">{{serviceObservable}}</h3>
    <hr>

    <h2>Test Directive</h2>
    <p>Change class for Attribute Directives </p>


    <div [app-test]="testVar === true ? 'bg-warning' : 'bg-info'">
        <p>'TestDirective' Attribute Directives
        </p>
        <div>
            <span>Select class </span>
            <button style="min-width:90px;" (click)="testVar=!testVar">{{testVar === false ? 'bg-warning' : 'bg-info'}}</button>
        </div>
    </div>
</div>