<div class="panel widget ">
    <div class="panel-heading vd_bg-blue">
        <h3 class="panel-title"> <span class="menu-icon"> <i class="icon-graph"></i> </span> {{title}} </h3>
    </div>
    <div class="panel-body-list pd-15">
        <h6>H6 Header</h6>
        <p [style.color]="colorElement">
            <strong>Enter color to change this text color. Lorem ipsum dolor sit amet consectetur, adipisicing elit. For example 'red' or 'grey'</strong> </p>
        <br>
        <input type="text" name="color" [(ngModel)]="colorElement">
    </div>
</div>