<div class="panel widget ">
    <div class="panel-heading vd_bg-blue">
        <h3 class="panel-title"> <span class="menu-icon"> <i class=""></i> </span> {{title}}</h3>
    </div>
    <div class="panel-body-list pd-15">
        <div class="input-group mgbt-xs-15">
            <div class="panel widget light-widget">
                <div class="wrap_alert_hidden">
                    <div class="alert alert-success vd_hidden hint_success" #hint_success>
                        <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong class="message_text">Well done!</strong>
                    </div>

                    <div class="alert alert-danger vd_hidden hint_error" #hint_error> <span class="vd_alert-icon "><i class="fa fa-exclamation-circle vd_red "></i></span><strong>Incorrect data!</strong>
                    </div>
                </div>
                <p>In this module used services data-service and log-service</p>
                <h3 style="font-weight: 600; ">Add phone</h3>
                <div class="controls">
                    <input type="text" placeholder="name" [(ngModel)]="namePhone" name="namePhone " style="margin-bottom: 5px;">

                    <input type="text" [(ngModel)]="modelPhone " name="modelPhone " style="margin-bottom: 5px; " placeholder="model">
                </div>

                <button class="btn vd_btn vd_bg-green " (click)="addPhone([hint_success, hint_error]) ">Add Phone</button>
                <ul style="padding-left: 0; margin-top: 10px; ">
                    <li *ngFor="let phone of phoneList; let ind=index "><strong>{{ind+1}}) {{phone.name}} --- {{phone.model}}</strong> </li>
                </ul>

            </div>
        </div>
    </div>
</div>