<div class="panel widget ">
    <div class="panel-heading vd_bg-blue">
        <h3 class="panel-title"> <span class="menu-icon"> <i class="icon-graph"></i> </span> {{title}} </h3>
    </div>
    <div class="panel-body-list pd-15">
        <div *ngIf="condition; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="vd_status-widget vd_bg-red  widget">
                <a href="#">
                    <div class="clearfix">
                        <span class="menu-value">
                        true
                    </span>
                    </div>
                    <div class="menu-text clearfix">
                        Lorem Ipsum
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template #elseBlock>

            <div class="vd_status-widget vd_bg-blue widget">
                <a href="#">
                    <div class="clearfix">
                        <span class="menu-value">
                        false
                    </span>
                    </div>
                    <div class="menu-text clearfix">
                        Lorem Ipsum
                    </div>
                </a>
            </div>
        </ng-template>

        <button style="margin-top:10px" class="btn vd_btn vd_bg-green" (click)="toggle()">Toggle</button>
    </div>
</div>