<div class="wrap_component">
    <div class="panel widget ">
        <div class="panel-heading vd_bg-blue">
            <h3 class="panel-title">
                <span class="menu-icon">
            <fa-icon [icon]="faCarrot"></fa-icon>            
        </span>{{title}}</h3>
        </div>
        <div class="panel-body-list pd-15">
            <div class="input-group mgbt-xs-15">

                <div class="panel widget light-widget">
                    <div class="panel-body" style="padding-bottom:0; padding-top:0">
                        <ul class="nav_products" style="padding-inline-start:0">
                            <li *ngFor="let product of products | async;">
                                <a [routerLink]="['/product', product.id, product.title]" [queryParams]="{available:product.available, country:product.country}" routerLinkActive="active" [fragment]="'pic'">{{product.title}}--{{product.id}}</a>
                            </li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>