<div class="wrap_component">
    <div class="wrap_component">
        <div class="panel widget">
            <div class="panel-heading vd_bg-grey">
                <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> {{title}} </h3>
            </div>
            <div class="panel-body table-responsive">
                <div id="data-tables_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table class="table table-striped dataTable no-footer">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="data-tables" rowspan="1" colspan="1">NPM</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="data-tables" rowspan="1" colspan="1">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g module my-module</td>
                                <td class="center">create new module</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g enum my-enum</td>
                                <td class="center">create new enum</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g interface my-interface</td>
                                <td class="center">create new interface</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g guard my-guard</td>
                                <td class="center">create new guard</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g class new-class</td>
                                <td class="center">create new class</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g service my-service</td>
                                <td class="center">create new service</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g pipe my-pipe</td>
                                <td class="center">create new pipe</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">ng g directive my-directive</td>
                                <td class="center">create new directive</td>
                            </tr>

                            <tr class="gradeA" role="row">
                                <td class="center">ng g component my-component</td>
                                <td class="center">create new component</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">npm install webpack webpack-dev-server typescript -g</td>
                                <td class="center">it is recommended to avoid mistakes</td>
                            </tr>
                            <tr class="gradeA" role="row">
                                <td class="center">npm install -g @angular/cli or npm i @angular/cli@6.0.0</td>
                                <td class="center">install global angular or need version</td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">ng serve or npm run start</td>
                                <td class="center">run angular server</td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">npm uninstall -g angular-cli</td>
                                <td class="center">uninstall global angular</td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">npm cache clean </td>
                                <td class="center">clean cache</td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">ng serve --port 5000 </td>
                                <td class="center">run server on localhost port 5000</td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">npm install --save bootstrap jquery</td>
                                <td class="center">install bootstrap and jquery after need to register the paths in the file angular.json </td>
                            </tr>
                            <tr class="gradeA " role="row">
                                <td class="center">ng --version</td>
                                <td class="center">current version</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
