<div class="panel widget ">
    <div class="panel-heading vd_bg-blue">
        <h3 class="panel-title"> <span class="menu-icon"> <i class="icon-graph"></i> </span> {{title}}</h3>

    </div>
    <div class="panel-body-list pd-15" style="min-height: 234px;">
        <div class="input-group mgbt-xs-15">
            <div class="panel widget light-widget">
                <div class="vd_checkbox checkbox-danger">
                    <input type="checkbox" value="1" id="checkbox-3" [(ngModel)]="wrong">
                    <label for="checkbox-3"> Remove Alert</label>
                </div>
                <div class="alert alert-success" [ngClass]="{'alert-display': wrong}"> <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span>
                    <a href="#" class="alert-link">This important alert message</a>. Check the box to remove the alert usage class <strong>.alert-display &#123; display: none; &#125;</strong>
                </div>
            </div>
        </div>
    </div>
</div>