.bootstrap-switch-criteria {
    width: 88px;
    overflow: hidden;
    margin: 0 15px 10px;
    display: inline-block;
    vertical-align: middle;
}

.bootstrap-switch-criteria .switcher {
    position: relative;
    height: 33px;
}

.switcher .switch-default {
    position: absolute;
    font-size: 12px;
    color: #fff;
}

.switcher .switch-on {
    left: 9px;
    top: 5px;
}

.switcher .switch-off {
    left: auto;
    right: 9px;
    top: 5px;
}

.switcher .bootstrap-switch-label {
    left: auto;
    right: 7px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    transition: left .6s ease-out;
}

.switcher .push-left {
    left: 5px;
}

.bootstrap-switch-criteria.bootstrap-switch-small .bootstrap-switch-label {
    width: 36px;
}